.footer {
  background-color: #000;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.footer-out {
  padding: 30px 0px;
}
.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
}
.footer-top h4 {
  margin: 0;
}
.footer-first-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.footer-first-content img {
  margin-left: 10px;
  border: 0.5px solid #858585;
  border-radius: 10px;
  height: 100px;
  width: auto;
}
.footer-link {
  margin-top: 30px;
}
#footer-link-bottom {
  padding-top: 20px;
}
.footer-link a {
  display: block;
  color: #fff;
  text-decoration: none;
}
.footer-inform-content h4 {
  width: 270px;
}
.subscribing-input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding: 0px 10px;
  font-weight: 600;
  border: 1px solid #000;
}
.subscribing-input:focus {
  outline: 0;
}
.subscribing-btn {
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  padding: 12px 28px;
  margin-top: 12px;
  border-radius: 15px;
  font-weight: 500;
  font-size: 15px;
  transition: 0.4s ease;
}
.subscribing-btn:hover {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}
.footer-mid {
  text-align: right;
  margin-top: 30px;
  border-bottom: 1px solid #fff;
}
.footer-mid a {
  margin-left: 20px;
  margin-right: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  padding-bottom: 100px;
}
.footer-bottom label {
  color: #fff;
}
.icon-footer a {
  margin: 0px 3px;
  color: #fff;
}

@media only screen and (min-width: 992px) and (max-width: 1250px) {
  #footerSwop-logo {
    height: 30px;
    width: auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-inform-content {
    margin-top: 30px;
  }
}
