@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin: 0px auto;
}
.dashboard-container {
  width: 1200px;
  margin: 0px auto;
}
.dashboard-main-container {
  display: flex;
}
.main-container {
  overflow-y: auto;
  margin-left: 300px;
  height: 100%;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-6 {
  width: 50%;
}
.col-4 {
  width: calc(100% / 3);
}
.banner-div-top {
  background-image: linear-gradient(
    to bottom,
    #000 36.5%,
    rgba(255, 255, 255, 0) 100%
  );
}
.banner-div-top-inside {
  padding-top: 150px;
  color: #fff;
}
.banner-div-top-inside a {
  text-decoration: none;
  color: #fff;
  padding: 8px 30px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 15px;
  border: 1px solid #fff;
  background-image: linear-gradient(#fff, #fff);
  background-size: 0 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 18px;
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 0px 0px 7px #dddddd57;
}
.banner-div-top-inside a:hover {
  background-size: 100% 100%;
  color: #000000;
}
.banner-div-top-inside h1 {
  font-size: 39px;
  font-weight: 700;
}
.banner-div-top-inside p {
  font-size: 18px;
  font-weight: 300;
}
#crypto-payment-mobile {
  width: 100%;
  height: auto;
}
.polygon-blockchain-div {
  background-image: radial-gradient(
    farthest-corner at 1170px 135px,
    #c598eb -30%,
    rgba(255, 255, 255, 0) 35%
  );
  padding-right: 40px;
  border-radius: 10px;
  margin-top: 25px;
}
.polygon-blockchain-content-out {
  display: flex;
  align-items: center;
}
.polygon-blockchain-content h2 {
  font-size: 37px;
  font-weight: 700;
}
.polygon-blockchain-content p {
  font-size: 18px;
  font-weight: 400;
}
#polygon-matic-badge {
  width: 70%;
  height: auto;
}
.dashboard-div {
  background-image: radial-gradient(
    farthest-corner at 40px 151px,
    #e1e6fc 0%,
    rgba(255, 255, 255, 0) 68%
  );
  padding-left: 40px;
  border-radius: 10px;
  margin-top: 50px;
}
.swop-dashboard-content-out {
  display: flex;
  align-items: center;
}
.swop-dashboard-content h2 {
  font-size: 37px;
  font-weight: 700;
}
.swop-dashboard-content p {
  font-size: 18px;
  font-weight: 400;
}
#swop-dashboard {
  width: 80%;
  height: auto;
  position: relative;
  left: 100%;
  transform: translateX(-100%);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: -6px 7px 20px #b7b7b73d;
  margin-top: 20px;
}
.send-link-div {
  background-image: radial-gradient(
    farthest-corner at 1170px 135px,
    #e4ecf1 -30%,
    rgba(255, 255, 255, 0) 35%
  );
  padding-right: 40px;
  border-radius: 10px;
  margin-top: 50px;
}
.send-link-content-out {
  display: flex;
  align-items: center;
}
.send-link-content h2 {
  font-size: 37px;
  font-weight: 700;
}
.send-link-content p {
  font-size: 18px;
  font-weight: 400;
}
.transaction {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 100px 0px;
}
.transaction img {
  height: 80px;
  width: auto;
}
.transaction h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
}
.transaction p {
  font-size: 12px;
  font-weight: 400;
}
.transaction div {
  width: 20%;
}
.home-how-it-work {
  text-align: -webkit-center;
}
.home-networking {
  text-align: -webkit-center;
  margin-top: -50px;
}
.home-how-it-work h2 {
  font-size: 32px;
  font-weight: 600;
}
.home-networking h2 {
  font-size: 32px;
  font-weight: 600;
}
.background-level {
  background: url("/image/backgroundlevel.png") no-repeat center;
  background-size: cover;
  height: 50px;
  width: 71%;
  margin: 20px 0px 0px;
  margin-bottom: 20px;
}
.card-how-it {
  border-radius: 15px;
  height: 100%;
  margin: 0px 20px;
  padding: 5px 25px;
  box-shadow: 0px 0px 31px rgb(0 0 0 / 12%);
  background-color: #fff;
  transition: 0.4s ease;
}
.card-how-it:hover {
  transform: scale(1.02);
}
.card-how-it img {
  height: 250px;
  width: auto;
}
.card-how-it h5 {
  text-align: left;
  font-size: 20px;
  margin: 0px 0px 0px;
}
.card-how-it p {
  text-align: left;
}
.card-how-it span {
  -webkit-text-stroke: 0.8px #000;
  -webkit-text-fill-color: #fff;
}
.hide-pc-view,
.number-icon {
  display: none;
}
.dashboard-home-card1 {
  background-color: #fff;
  box-shadow: 0px 0px 30px #dddddd75;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding: 10px;
  width: 18%;
  border-radius: 15px;
}
.dashboard-home-card1-inside .dashboard-home-card1-button {
  display: flex;
  gap: 10px;
  margin: 5px 0px;
}
.dashboard-home-card1-inside .dashboard-home-card1-button button {
  background-color: #000;
  color: #fff;
  border-radius: 10px;
}
.dashboard-home-card1 h5 {
  margin: 0px;
}
.dashboard-home-card1 h6 {
  margin: 0px;
}
.dashboard-home-card1 p {
  margin: 0px;
}
.dashboard-home {
  display: flex;
  flex-wrap: wrap;
  margin: 25px auto;
  justify-content: space-between;
}
.dashboard-home-card1-list-container {
  width: 100%;
}
.dashboard-home-card1-inside p {
  font-size: 10px;
}
.dashboard-home-card1-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 25px;
}
.dashboard-home-card1-list.odd {
  background-color: #ebeaea;
}
.dashboard-home-card1-list.even {
  background-color: #f4f4f4;
}
.dashboard-home-card1-list.odd.first {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.dashboard-home-card1-list.odd.last {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dashboard-home-card1-list p {
  font-size: 14px;
}
.dashboard-home-card2 {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 30px #dddddd75;
  border-radius: 15px;
}
