@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
}
* {
  box-sizing: border-box;
}

/* ====================================== Common CSS Start ========================================= */

.container {
  width: 1200px;
  margin: 0px auto;
}
.dashboard-container {
  width: 1200px;
  margin: 0px auto;
}
.dashboard-main-container {
  display: flex;
}
.main-container {
  overflow-y: auto;
  margin-left: 300px;
  height: 100%;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 15px;
  text-align: -webkit-center;
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 15px;
}
.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 15px;
  text-align: -webkit-center;
}
.grid-6 {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 15px;
  text-align: -webkit-center;
}
.commonBtn {
  background-image: linear-gradient(to right, #55b6ff, #797eff);
  position: absolute;
  bottom: -18px;
  padding: 8px 50px;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.commonBtn a {
  text-decoration: none;
  color: #fff;
}
.commonBtn2 {
  background-image: linear-gradient(to right, #55b6ff, #797eff);
  padding: 10px 50px;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}
.col-12 {
  width: 100%;
}
.col-6 {
  width: 50%;
}
.col-4 {
  width: calc(100% / 3);
}
.table {
  margin-top: 25px;
}
.table-head {
  display: flex;
  text-align: center;
}
.table-head p {
  color: #6e7174;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}
.table a {
  text-decoration: none;
  color: initial;
}
.table-body {
  display: flex;
  text-align: center;
  border-top: 1px solid #bfbfbf;
  align-items: center;
}
.table-body p {
  font-size: 14px;
  font-weight: 500;
}
.card {
  background-color: #fff;
  box-shadow: 0 7px 30px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 25px;
  margin: 50px auto;
}
.filter {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
.filter p {
  font-weight: 500;
}
.filter select {
  text-align: center;
  border: 1px solid #bfbfbf;
  color: #96a5b8;
  font-weight: 500;
}
.filter select:focus {
  outline: none;
}
.filter button,
.filter select {
  height: 35px;
  width: 130px;
  border-radius: 5px;
}
.filter button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #000;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}
.hide-pc-view {
  display: none;
}

@media only screen and (min-width: 1251px) and (max-width: 1550px) {
  .main-container {
    margin-left: 200px;
  }
  .dashboard-container {
    width: 1000px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1250px) {
  .container {
    width: 960px;
  }
  .dashboard-container {
    width: 780px;
  }
  .main-container {
    margin-left: 200px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
  .main-container {
    margin-left: 0px;
  }
  .dashboard-container {
    width: auto;
    margin: 0px 20px;
  }
  .commonBtn {
    padding: 6px 35px;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .hide-mobile-view {
    display: none;
  }
  .hide-pc-view {
    display: block;
  }
}
@media only screen and (min-width: 551px) and (max-width: 767px) {
  .container {
    width: 520px;
  }
  .main-container {
    margin-left: 0px;
  }
  .dashboard-container {
    width: auto;
    margin: 0px 20px;
  }
  .commonBtn {
    padding: 6px 35px;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .hide-mobile-view {
    display: none;
  }
  .hide-pc-view {
    display: block;
  }
  .filter select {
    width: 82px;
  }
  .filter button {
    width: 82px;
    font-size: 13px;
  }
  .table {
    overflow-x: auto;
  }
  .table-head,
  .table-body {
    width: 650px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 550px) {
  .container {
    width: 430px;
  }
  .main-container {
    margin-left: 0px;
  }
  .dashboard-container {
    width: auto;
    margin: 0px 20px;
  }
  .commonBtn {
    padding: 6px 35px;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .hide-mobile-view {
    display: none;
  }
  .hide-pc-view {
    display: block;
  }
  .filter select {
    width: 82px;
  }
  .filter button {
    width: 82px;
    font-size: 13px;
  }

  .table {
    overflow-x: auto;
  }
  .table-head,
  .table-body {
    width: 650px;
  }
}
@media only screen and (min-width: 350px) and (max-width: 450px) {
  .container {
    width: 345px;
  }
  .main-container {
    margin-left: 0px;
  }
  .dashboard-container {
    width: auto;
    margin: 0px 20px;
  }
  .commonBtn {
    padding: 6px 25px;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .hide-mobile-view {
    display: none;
  }
  .hide-pc-view {
    display: block;
    font-size: 14px;
  }
  .filter select {
    width: 62px;
  }
  .filter button {
    width: 62px;
    font-size: 13px;
  }
  .filter button svg {
    display: none;
  }
  .table {
    overflow-x: auto;
  }
  .table-head,
  .table-body {
    width: 650px;
  }
}
/* ====================================== Common CSS End ========================================= */

/* ====================================== Landing Page Start ===================================== */

.banner-div-top {
  background-image: linear-gradient(
    to bottom,
    #000 36.5%,
    rgba(255, 255, 255, 0) 100%
  );
}
.banner-div-top-inside {
  padding-top: 150px;
  color: #fff;
}
.banner-div-top-inside a {
  text-decoration: none;
  color: #fff;
  padding: 8px 30px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 15px;
  border: 1px solid #fff;
  background-image: linear-gradient(#fff, #fff);
  background-size: 0 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 18px;
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 0px 0px 7px #dddddd57;
}
.banner-div-top-inside a:hover {
  background-size: 100% 100%;
  color: #000000;
}
.banner-div-top-inside h1 {
  font-size: 39px;
  font-weight: 700;
}
.banner-div-top-inside p {
  font-size: 18px;
  font-weight: 300;
}
#crypto-payment-mobile {
  width: 100%;
  height: auto;
}
.polygon-blockchain-div {
  background-image: radial-gradient(
    farthest-corner at 1170px 135px,
    #c598eb -30%,
    rgba(255, 255, 255, 0) 35%
  );
  padding-right: 40px;
  border-radius: 10px;
  margin-top: 25px;
}
.polygon-blockchain-content-out {
  display: flex;
  align-items: center;
}
.polygon-blockchain-content h2 {
  font-size: 37px;
  font-weight: 700;
}
.polygon-blockchain-content p {
  font-size: 18px;
  font-weight: 400;
}
#polygon-matic-badge {
  width: 70%;
  height: auto;
}
.dashboard-div {
  background-image: radial-gradient(
    farthest-corner at 40px 151px,
    #e1e6fc 0%,
    rgba(255, 255, 255, 0) 68%
  );
  padding-left: 40px;
  border-radius: 10px;
  margin-top: 50px;
}
.swop-dashboard-content-out {
  display: flex;
  align-items: center;
}
.swop-dashboard-content h2 {
  font-size: 37px;
  font-weight: 700;
}
.swop-dashboard-content p {
  font-size: 18px;
  font-weight: 400;
}
#swop-dashboard {
  width: 80%;
  height: auto;
  position: relative;
  left: 100%;
  transform: translateX(-100%);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: -6px 7px 20px #b7b7b73d;
  margin-top: 20px;
}
.send-link-div {
  background-image: radial-gradient(
    farthest-corner at 1170px 135px,
    #e4ecf1 -30%,
    rgba(255, 255, 255, 0) 35%
  );
  padding-right: 40px;
  border-radius: 10px;
  margin-top: 50px;
}
.send-link-content-out {
  display: flex;
  align-items: center;
}
.send-link-content h2 {
  font-size: 37px;
  font-weight: 700;
}
.send-link-content p {
  font-size: 18px;
  font-weight: 400;
}
.transaction {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 100px 0px;
}
.transaction img {
  height: 80px;
  width: auto;
}
.transaction h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
}
.transaction p {
  font-size: 12px;
  font-weight: 400;
}
.transaction div {
  width: 20%;
}
.home-how-it-work {
  text-align: -webkit-center;
}
.home-networking {
  text-align: -webkit-center;
  margin-top: -50px;
}
.home-how-it-work h2 {
  font-size: 32px;
  font-weight: 700;
}
.home-networking h2 {
  font-size: 32px;
  font-weight: 700;
}
.background-level {
  background: url('/image/backgroundlevel.png') no-repeat center;
  background-size: cover;
  height: 50px;
  width: 71%;
  margin: 20px 0px 0px;
  margin-bottom: 20px;
}
.card-how-it {
  border-radius: 15px;
  height: 100%;
  margin: 0px 20px;
  padding: 5px 25px;
  box-shadow: 0px 0px 31px rgb(0 0 0 / 12%);
  background-color: #fff;
  transition: 0.4s ease;
}
.card-how-it:hover {
  transform: scale(1.02);
}
.card-how-it img {
  height: 250px;
  width: auto;
}
.card-how-it h5 {
  text-align: left;
  font-size: 20px;
  margin: 0px 0px 0px;
}
.card-how-it p {
  text-align: left;
}
.card-how-it span {
  -webkit-text-stroke: 0.8px #000;
  -webkit-text-fill-color: #fff;
}
.number-icon {
  display: none;
}

@media only screen and (min-width: 992px) and (max-width: 1250px) {
  .home-how-it-work .background-level {
    background-size: contain;
    width: 70%;
  }
  .card-how-it h5 {
    font-size: 18px;
  }
  .card-how-it p {
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner-div-top-inside {
    padding-top: 80px;
    color: #fff;
    text-align: center;
  }
  .banner-div-top-inside .col-6 {
    width: 100%;
  }
  #crypto-payment-mobile {
    width: 90%;
    margin-top: 55px;
  }
  .polygon-blockchain-div {
    background-image: radial-gradient(
      farthest-corner at 381px -95px,
      #c598eb -15%,
      rgba(255, 255, 255, 0) 72%
    );
    padding-right: 0px;
    border-radius: 35px;
    margin-top: 25px;
    text-align: center;
  }
  .polygon-blockchain-div .col-6 {
    width: 100%;
  }
  #polygon-matic-badge {
    width: 50%;
  }
  .dashboard-div {
    background-image: radial-gradient(
      farthest-corner at 375px 85px,
      #e1e6fc 35%,
      rgba(255, 255, 255, 0) 100%
    );
    padding-left: 0px;
    border-radius: 35px;
    margin-top: 50px;
    text-align: center;
  }
  .dashboard-div .col-6 {
    width: 100%;
  }
  #swop-dashboard {
    width: 50%;
    height: auto;
    left: 0%;
    transform: translateX(0%);
    border-radius: 15px;
    box-shadow: -6px 7px 20px #b7b7b73d;
    margin: 30px 0px;
  }
  .home-how-it-work .col-4 {
    width: 100%;
  }
  .card-how-it {
    width: 375px;
    height: 85%;
  }
  .background-level {
    display: none;
  }
  .number-icon {
    display: block;
    margin: 15px 0px 10px;
    height: 50px;
    width: auto;
  }
  .send-link-div {
    background-image: radial-gradient(
      farthest-corner at 1170px 135px,
      #e4ecf1 -30%,
      rgba(255, 255, 255, 0) 35%
    );
    padding-right: 0px;
    border-radius: 10px;
    margin-top: 15px;
    text-align: center;
  }
  .send-link-div .col-6 {
    width: 100%;
  }
  .transaction img {
    height: 60px;
  }
  .transaction h3 {
    font-size: 18px;
  }
  .transaction p {
    font-size: 11px;
  }
  .transaction {
    padding: 50px 0px;
  }
}
@media only screen and (min-width: 551px) and (max-width: 767px) {
  .banner-div-top-inside {
    padding-top: 80px;
    color: #fff;
    text-align: center;
  }
  .banner-div-top-inside .col-6 {
    width: 100%;
  }
  #crypto-payment-mobile {
    width: 90%;
    margin-top: 55px;
  }
  .polygon-blockchain-div {
    background-image: radial-gradient(
      farthest-corner at 220px 82px,
      #cf9cf9 -110%,
      rgba(255, 255, 255, 0) 82%
    );
    padding: 15px;
    border-radius: 35px;
    margin-top: 25px;
    text-align: center;
  }
  .polygon-blockchain-div .col-6 {
    width: 100%;
  }
  #polygon-matic-badge {
    width: 50%;
  }
  .dashboard-div {
    background-image: radial-gradient(
      farthest-corner at 375px 85px,
      #e1e6fc 35%,
      rgba(255, 255, 255, 0) 100%
    );
    padding: 15px;
    border-radius: 35px;
    margin-top: 50px;
    text-align: center;
  }
  .dashboard-div .col-6 {
    width: 100%;
  }
  #swop-dashboard {
    width: 50%;
    height: auto;
    left: 0%;
    transform: translateX(0%);
    border-radius: 15px;
    box-shadow: -6px 7px 20px #b7b7b73d;
    margin: 30px 0px;
  }
  .home-how-it-work .col-4 {
    width: 100%;
  }
  .card-how-it {
    width: 375px;
    height: 85%;
  }
  .background-level {
    display: none;
  }
  .number-icon {
    display: block;
    margin: 15px 0px 10px;
    height: 50px;
    width: auto;
  }
  .send-link-div {
    background-image: radial-gradient(
      farthest-corner at 1170px 135px,
      #e4ecf1 -30%,
      rgba(255, 255, 255, 0) 35%
    );
    padding-right: 0px;
    border-radius: 10px;
    margin-top: 15px;
    text-align: center;
  }
  .send-link-div .col-6 {
    width: 100%;
  }
  .transaction img {
    height: 60px;
  }
  .transaction h3 {
    font-size: 18px;
  }
  .transaction p {
    font-size: 11px;
  }
  .transaction {
    padding: 50px 0px;
  }
  .transaction div {
    width: 31%;
  }
}
@media only screen and (min-width: 451px) and (max-width: 550px) {
  .banner-div-top-inside {
    padding-top: 80px;
    color: #fff;
    text-align: center;
  }
  .banner-div-top-inside .col-6 {
    width: 100%;
  }
  #crypto-payment-mobile {
    width: 90%;
    margin-top: 55px;
  }
  .polygon-blockchain-div {
    background-image: radial-gradient(
      farthest-corner at 220px 82px,
      #cf9cf9 -110%,
      rgba(255, 255, 255, 0) 100%
    );
    border-radius: 35px;
    margin-top: 25px;
    text-align: center;
    padding: 15px;
  }
  .banner-div-top-inside h1 {
    font-size: 30px;
  }
  .banner-div-top-inside p {
    font-size: 16px;
  }
  .polygon-blockchain-content h2 {
    font-size: 26px;
  }
  .polygon-blockchain-content p {
    font-size: 15px;
  }
  .swop-dashboard-content h2 {
    font-size: 26px;
  }
  .swop-dashboard-content p {
    font-size: 16px;
  }
  .home-how-it-work h2 {
    font-size: 26px;
  }
  .send-link-content h2 {
    font-size: 26px;
  }
  .send-link-content p {
    font-size: 16px;
  }
  .polygon-blockchain-div .col-6 {
    width: 100%;
  }
  #polygon-matic-badge {
    width: 50%;
  }
  .dashboard-div {
    background-image: radial-gradient(
      farthest-corner at 375px 85px,
      #e1e6fc 35%,
      rgba(255, 255, 255, 0) 100%
    );
    padding-left: 0px;
    border-radius: 35px;
    margin-top: 50px;
    text-align: center;
  }
  .dashboard-div .col-6 {
    width: 100%;
  }
  #swop-dashboard {
    width: 50%;
    height: auto;
    left: 0%;
    transform: translateX(0%);
    border-radius: 15px;
    box-shadow: -6px 7px 20px #b7b7b73d;
    margin: 30px 0px;
  }
  .home-how-it-work .col-4 {
    width: 100%;
  }
  .card-how-it {
    width: 375px;
    height: 85%;
  }
  .background-level {
    display: none;
  }
  .number-icon {
    display: block;
    margin: 15px 0px 10px;
    height: 50px;
    width: auto;
  }
  .send-link-div {
    background-image: radial-gradient(
      farthest-corner at 1170px 135px,
      #e4ecf1 -30%,
      rgba(255, 255, 255, 0) 35%
    );
    padding-right: 0px;
    border-radius: 10px;
    margin-top: 15px;
    text-align: center;
  }
  .send-link-div .col-6 {
    width: 100%;
  }
  .transaction div {
    width: 30%;
  }
  .transaction img {
    height: 40px;
  }
  .transaction h3 {
    font-size: 13px;
  }
  .transaction p {
    font-size: 9px;
  }
  .transaction {
    padding: 25px 0px;
  }
}
@media only screen and (min-width: 350px) and (max-width: 450px) {
  .banner-div-top-inside {
    padding-top: 80px;
    color: #fff;
    text-align: center;
  }
  .banner-div-top-inside .col-6 {
    width: 100%;
  }
  #crypto-payment-mobile {
    width: 90%;
    margin-top: 55px;
  }
  .polygon-blockchain-div {
    background-image: radial-gradient(
      farthest-corner at 220px 82px,
      #cf9cf9 -110%,
      rgba(255, 255, 255, 0) 100%
    );
    border-radius: 35px;
    margin-top: 25px;
    text-align: center;
    padding: 15px;
  }
  .polygon-blockchain-div .col-6 {
    width: 100%;
  }
  #polygon-matic-badge {
    width: 50%;
  }
  .dashboard-div {
    background-image: radial-gradient(
      farthest-corner at 375px 85px,
      #e1e6fc 35%,
      rgba(255, 255, 255, 0) 100%
    );
    padding: 15px;
    border-radius: 35px;
    margin-top: 50px;
    text-align: center;
  }
  .dashboard-div .col-6 {
    width: 100%;
  }
  #swop-dashboard {
    width: 50%;
    height: auto;
    left: 0%;
    transform: translateX(0%);
    border-radius: 15px;
    box-shadow: -6px 7px 20px #b7b7b73d;
    margin: 30px 0px;
  }
  .home-how-it-work .col-4 {
    width: 100%;
  }
  .card-how-it {
    width: 310px;
    height: 88%;
  }
  .background-level {
    display: none;
  }
  .number-icon {
    display: block;
    margin: 15px 0px 10px;
    height: 40px;
    width: auto;
  }
  .send-link-div {
    background-image: radial-gradient(
      farthest-corner at 1170px 135px,
      #e4ecf1 -30%,
      rgba(255, 255, 255, 0) 35%
    );
    padding-right: 0px;
    border-radius: 10px;
    margin-top: 15px;
    text-align: center;
  }
  .send-link-div .col-6 {
    width: 100%;
  }
  .transaction div {
    width: 30%;
  }
  .transaction img {
    height: 40px;
  }
  .transaction h3 {
    font-size: 13px;
  }
  .transaction p {
    font-size: 9px;
  }
  .transaction {
    padding: 25px 0px;
  }
  .banner-div-top-inside h1 {
    font-size: 25px;
  }
  .banner-div-top-inside p {
    font-size: 14px;
  }
  .polygon-blockchain-content h2 {
    font-size: 21px;
  }
  .polygon-blockchain-content p {
    font-size: 14px;
  }
  .swop-dashboard-content h2 {
    font-size: 21px;
  }
  .swop-dashboard-content p {
    font-size: 14px;
  }
  .home-how-it-work h2 {
    font-size: 21px;
  }
  .card-how-it h5 {
    font-size: 18px;
  }
  .send-link-content h2 {
    font-size: 21px;
  }
  .card-how-it p {
    font-size: 13px;
  }
  .send-link-content p {
    font-size: 14px;
  }
}
/* ====================================== Landing Page End ===================================== */

/* ====================================== Dashboard page Start ================================= */

.css-duaqfz {
  border-width: 0px !important;
}
.css-1usso8h-MuiDataGrid-root .MuiDataGrid-withBorderColor {
  border: none;
}
.dashboard-home-card1 {
  background-color: #fff;
  box-shadow: 0px 0px 30px #dddddd75;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding: 15px;
  width: 19%;
  border-radius: 15px;
}
.dashboard-home-card1-inside .dashboard-home-card1-button {
  display: flex;
  gap: 10px;
  margin: 5px 0px;
}
.dashboard-home-card1-inside .dashboard-home-card1-button button {
  background-color: #000;
  color: #fff;
  border-radius: 10px;
}
.dashboard-home-card1 h5 {
  margin: 0px;
}
.dashboard-home-card1 h6 {
  margin: 0px;
}
.dashboard-home-card1 p {
  margin: 0px;
}
.dashboard-home {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  justify-content: space-between;
  gap: 40px;
}
.dashboard-home-card1-list-container {
  width: 100%;
}
.dashboard-home-card1-inside p {
  font-size: 10px;
}
.dashboard-home-card1-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 25px;
}
.dashboard-home-card1-list.odd {
  background-color: #ebeaea;
}
.dashboard-home-card1-list.even {
  background-color: #f4f4f4;
}
.dashboard-home-card1-list.odd.first {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.dashboard-home-card1-list.odd.last {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dashboard-home-card1-list p {
  font-size: 14px;
}
.dashboard-home-card2 {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 30px #dddddd75;
  border-radius: 15px;
  position: relative;
  width: 40%;
}
.dashboard-home-card2 h4 {
  font-size: 25px;
  font-weight: 600;
  margin: 0px;
}
.dashboard-home-card2 p {
  font-size: 12px;
  font-weight: 500;
  margin: 0px;
}
.dashboard-home-card2-right-status {
  position: absolute;
  right: 0;
  top: 0;
  color: #0bb13a;
  margin-top: 20px;
  margin-right: 20px;
}
.dashboard-home-card2-right-status h5 {
  margin: 0px;
  font-size: 15px;
}
.dashboard-home-card2-right-status p {
  margin: 0px;
  font-size: 9px;
}
.dashboard-home-card3-content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 5px 20px;
  align-items: center;
}
.dashboard-home-card3-content p {
  margin: 12px 0px;
}
.dashboard-home-card3-product-name {
  width: 50%;
}
.dashboard-home-card3-price {
  width: 30%;
}
.dashboard-home-card3-exp {
  width: 20%;
}
.dashboard-home-card3-exp-icon {
  display: flex;
  gap: 5px;
}
.dashboard-home-card3-exp-icon svg {
  border: 3px solid #ddd;
  border-radius: 5px;
  height: 25px;
  width: auto;
  cursor: pointer;
  background-color: #ddd;
}
.dashboard-home-card3-product-name b {
  font-weight: 500;
}
.dashboard-home-card3 {
  background-color: #fff;
  box-shadow: 0px 0px 30px #dddddd75;
  border-radius: 15px;
  width: 34%;
  position: relative;
}
.dashboard-home-card3 h3 {
  margin: 0px;
  padding-top: 20px;
  padding-left: 20px;
}
.dashboard-home-card3-price span {
  background-color: #cbe9f2;
  color: #0ec0f5;
  padding: 5px;
  border-radius: 8px;
  font-weight: 400;
}
.dashboard-home-card3-exp span {
  font-size: 14px;
}
.dashboard-home-card4 {
  background-color: #fff;
  box-shadow: 0px 0px 30px #dddddd75;
  border-radius: 15px;
  width: 48%;
  padding: 20px;
  position: relative;
}
.dashboard-home-card4 h3 {
  margin: 0px;
}
.dashboard-home-card4-data .css-1usso8h-MuiDataGrid-root {
  border: none;
}
.dashboard-home-card5 {
  display: flex;
  width: 48%;
  gap: 30px;
  flex-wrap: wrap;
}
.dashboard-home-card5-top {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 30px #dddddd75;
  border-radius: 15px;
  padding: 20px;
}
.dashboard-home-card5-bottom {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 30px #dddddd75;
  border-radius: 15px;
  padding: 20px;
  align-self: flex-end;
  position: relative;
}
.product-card {
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 31px rgba(0, 0, 0, 0.12);
  transition: 0.4s ease;
}
.product-card:hover {
  transform: scale(1.05);
}
.product-card a {
  text-decoration: none;
  color: #000;
}
.product-card img {
  height: auto;
  width: 60%;
}
.product-card h5 {
  margin: 0;
}
.product-card p {
  margin: 5px 0;
  font-size: 11px;
  font-weight: 400;
  color: #bfbfbf;
}
.product-price {
  display: flex;
  justify-content: space-between;
  margin-left: -10px;
  margin-right: -10px;
}
.product-price label {
  background-color: #f2f2f2;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 10px;
}
.product-price .left {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.product-price .right {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.add-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.add-product svg {
  margin-top: 10px;
}
.coupon-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 5px 0px;
}
.coupon-offer {
  display: block;
  width: -webkit-fill-available;
  padding: 15px;
}
.coupon-dateTime {
  display: block;
  width: 20%;
}
.coupon-offer p {
  margin: 0px;
  font-weight: 600;
  font-size: 20px;
}
.coupon-offer label {
  font-size: 11px;
}
.coupon-dateTime p {
  margin: 0px;
  font-size: 14px;
}
.coupon-field img {
  height: 40px;
  width: auto;
}
.modal-qr-code-scan-out {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 11; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  backdrop-filter: blur(2px);
  background-color: hsl(0deg 0% 100% / 5%);
}
.modal-qr-code-scan {
  background-color: #fefefe;
  margin: auto;
  padding: 35px;
  width: 580px;
  border-radius: 15px;
  box-shadow: 0px 0px 30px #ddd;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.modal-qr-code-scan input {
  margin-top: 20px;
  width: 235px;
  padding: 10px 80px 10px 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  border: none;
}
.modal-qr-code-scan input:focus {
  outline: none;
}
.modal-qr-code-scan button {
  position: absolute;
  width: 70px;
  padding: 5.5px 0px;
  bottom: 40px;
  right: 178px;
  background-image: linear-gradient(to right, #55b6ff, #797eff);
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.4s ease;
}
.modal-qr-code-scan button:hover {
  transform: scale(1.02);
}
.modal-qr-code-scan img {
  height: 120px;
  width: auto;
  box-shadow: 0px 0px 30px #ddd;
  border-radius: 15px;
}
.modal-qr-code-scan svg {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

@media only screen and (min-width: 1251px) and (max-width: 1550px) {
  .dashboard-home-card1 {
    width: 25%;
  }
  .dashboard-home-card2 {
    width: 71%;
  }
  .dashboard-home-card3 {
    width: 48%;
  }
  .dashboard-home-card5 {
    width: 100%;
    gap: 40px;
    justify-content: space-between;
  }
  .dashboard-home-card5-top {
    width: 48%;
  }
  .dashboard-home-card5-bottom {
    width: 48%;
    padding: 20px;
    align-self: auto;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1250px) {
  .dashboard-home {
    gap: 30px;
  }
  .dashboard-home-card1 {
    width: 32%;
  }
  .dashboard-home-card2 {
    width: 64%;
  }
  .dashboard-home-card3 {
    width: 48%;
  }
  .dashboard-home-card5 {
    width: 100%;
    gap: 40px;
    justify-content: space-between;
  }
  .commonBtn {
    padding: 8px 40px;
  }
  .css-1j258k8 {
    height: 420px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .dashboard-home {
    margin: 90px auto 50px;
  }
  .dashboard-home-card1 {
    width: 30%;
  }
  .dashboard-home-card2 {
    width: 64%;
  }
  .dashboard-home-card3 {
    width: 47%;
  }
  .dashboard-home-card4 {
    width: 47%;
  }
  .dashboard-home-card5 {
    width: 100%;
  }
  .dashboard-home-card5-top {
    width: 100%;
  }
  .dashboard-home-card5-top .grid-3 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .dashboard-home-card5-bottom {
    align-self: auto;
  }
}
@media only screen and (min-width: 551px) and (max-width: 767px) {
  .dashboard-home {
    margin: 90px auto 50px;
  }
  .dashboard-home-card1 {
    width: 100%;
  }
  .dashboard-home-card2 {
    width: 100%;
  }
  .dashboard-home-card3 {
    width: 100%;
    padding-bottom: 40px;
  }
  .dashboard-home-card4 {
    width: 100%;
  }
  .dashboard-home-card5 {
    width: 100%;
  }
  .dashboard-home-card5-top {
    width: 100%;
  }
  .coupon-dateTime {
    width: 30%;
  }
  .dashboard-home-card5-bottom {
    align-self: auto;
  }
}
@media only screen and (min-width: 451px) and (max-width: 550px) {
  .dashboard-home {
    margin: 90px auto 50px;
  }
  .dashboard-home-card1 {
    width: 100%;
  }
  .dashboard-home-card2 {
    width: 100%;
  }
  .dashboard-home-card3 {
    width: 100%;
    padding-bottom: 40px;
  }
  .dashboard-home-card4 {
    width: 100%;
  }
  .dashboard-home-card5 {
    width: 100%;
  }
  .dashboard-home-card5-top {
    width: 100%;
  }
  .coupon-dateTime {
    width: 42%;
  }
  .dashboard-home-card5-bottom {
    align-self: auto;
  }
  .dashboard-home-card5-top .grid-3 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media only screen and (min-width: 350px) and (max-width: 450px) {
  .dashboard-home {
    margin: 90px auto 50px;
  }
  .dashboard-home-card1 {
    width: 100%;
  }
  .dashboard-home-card2 {
    width: 100%;
  }
  .dashboard-home-card3 {
    width: 100%;
    padding-bottom: 40px;
  }
  .dashboard-home-card4 {
    width: 100%;
  }
  .dashboard-home-card5 {
    width: 100%;
  }
  .dashboard-home-card5-top {
    width: 100%;
  }
  .coupon-dateTime {
    width: 78%;
  }
  .dashboard-home-card5-bottom {
    align-self: auto;
  }
  .dashboard-home-card5-top .grid-3 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .dashboard-home-card2 h4 {
    font-size: 20px;
  }
}

/*=========================================== Dashboard Page End ==================================== */

/*=========================================== Product Page Start ==================================== */

.product-container {
  padding: 15px 15px 40px;
  background-color: #fff;
  border-radius: 15px;
  margin: 50px 0px;
  position: relative;
}
/* Product Page Individual */
.product-image-upload-top {
  position: relative;
  box-shadow: 0px 0px 30px #0000002c;
  background-image: radial-gradient(
    farthest-corner at 145px 138px,
    #ffffff -42%,
    #000 110%
  );
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.product-image-upload-top a svg {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: #797eff;
  padding: 5px;
  border-radius: 50%;
  outline: 2px solid #fff;
  box-shadow: 0px 0px 20px #0000002c;
}
.product-image-upload-top img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 35px 0px;
}
.product-image-upload-top button {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  background-color: #000;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #ffffff2b;
}
.product-image-upload-bottom {
  display: flex;
  justify-content: space-around;
  padding: 12px 0px;
}
.product-image-upload-bottom img {
  width: 25%;
  height: auto;
  border: 1px solid #d2d2d2;
  background-color: #cccccc86;
  padding: 3px;
}
.product-upload-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px auto 25px;
}
.product-name,
.product-unit-price,
.product-quantity {
  width: 32%;
}
.product-image-upload {
  width: 38%;
  border: 1px solid #a7a7a7;
  border-radius: 17px;
}
.product-upload-input {
  background-color: #f2f2f2;
  border: 0.5px solid #ebebeb;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  padding: 0px 10px;
}
.product-upload-input:focus {
  outline: none;
}
.product-description-card {
  box-shadow: 0px 0px 30px #8686862c;
  background-color: #fff;
  padding: 15px;
  margin-top: 35px;
  border-radius: 15px;
  height: 62.6%;
}
.product-name-textarea {
  width: 100%;
  height: 80%;
  border: none;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
  display: grid;
}
.product-description-card h5 {
  margin: 5px 0px 15px;
}
.product-description-card {
  padding: 15px;
}
.variant-title-text {
  display: flex;
  gap: 5px;
  align-items: center;
}
.variant-title-text input {
  height: 25px;
  width: 120px;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  font-size: 12px;
  padding: 0px 5px;
}
.variant-title-text input:focus {
  outline: none;
}
.variant-title-text label {
  font-weight: 600;
  font-size: 13px;
}
.color-red {
  background-color: red;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.color-green {
  background-color: green;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.size {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  font-size: 10px;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-variant {
  height: 25px;
  width: max-content;
}
.product-info {
  display: flex;
  align-items: center;
}
.product-info-subject {
  margin: 0px;
  font-size: 15px;
  font-weight: 600;
  width: 110px;
}
.product-view {
  width: 60%;
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
}
.product-upload-container-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px auto;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
}
.product-upload-container-2 h3 {
  margin-top: 0px;
}
.product-upload-container-3 {
  display: flex;
  justify-content: space-between;
  margin: 25px auto 50px;
  /* padding: 20px; */
}
.product-upload-container-left,
.product-upload-container-right {
  display: flex;
  gap: 10px;
}
.product-upload-container-left input {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  box-shadow: 0px 0px 20px #e4e4e452;
}
.product-upload-container-right input {
  background-image: linear-gradient(to right, #55b6ff, #797eff);
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #e4e4e452;
  color: #fff;
}
.product-upload-container-right button {
  background-image: linear-gradient(to right, #55b6ff, #797eff);
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #e4e4e452;
  color: #fff;
}

@media only screen and (min-width: 992px) and (max-width: 1250px) {
  .product-container .grid-6 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/*=========================================== Product Page End ====================================== */

/* ========================================= Mint Page Start ======================================== */

.mint-card {
  position: relative;
  padding: 15px 15px 25px;
  border-radius: 10px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.12);
  transition: 0.4s ease;
}
.mint-card:hover {
  transform: scale(1.05);
}
.mint-card a {
  text-decoration: none;
  color: #000;
}
.mint-card img {
  height: auto;
  width: 100%;
  border-radius: 10px;
}
.mint-card h3 {
  margin: 0;
  font-size: 25px;
  font-weight: 500;
}
.mint-card h5 {
  margin: 0;
  font-size: 22px;
  color: #1c83e5;
  font-weight: 600;
}
.mint-card p {
  margin: 0px;
  font-size: 18px;
  font-weight: 300;
}
.mint-card span {
  position: absolute;
  right: 15px;
  bottom: 12px;
  background-color: #4b93ff;
  padding: 3px 30px;
  border-radius: 15px;
  color: #fff;
}
.mint-container {
  position: relative;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px 20px 50px;
  border-radius: 15px;
}
.create-mint-container {
  padding: 20px 25%;
  background-color: #fff;
  border-radius: 15px;
  margin: 50px auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.12);
}
.mint-new-item-collection {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #a7a7a7;
  padding: 5px 0px;
  margin: 5px 0px;
}
.mint-new-item-in {
  width: -webkit-fill-available;
  padding: 0px 5px;
}
.mint-new-item-in h3 {
  margin: 0px;
  line-height: 20px;
}
.mint-new-item-in p {
  margin: 0px;
}
.create-mint-hr {
  margin: 20px 0px;
  border-top: 0.5px solid #ddd;
}
.create-mint-container h2 {
  margin-top: 0px;
}
.create-mint-container h3 {
  margin: 0px;
  font-weight: 500;
  font-size: 20px;
}
.create-mint-container p {
  margin: 5px 0px;
  font-size: 12px;
  color: #9a9a9a;
}
.create-mint-container label {
  font-size: 13px;
}
.create-mint-container label span {
  color: #ff0000;
}
.create-mint-container input {
  width: 100%;
  background-color: #ebebeb;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.create-mint-container textarea {
  width: 100%;
  background-color: #ebebeb;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.create-mint-container select {
  width: 100%;
  background-color: #ebebeb;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.mint-new-item-collection .icon-2 {
  border: 1px solid #a0a0a0c4;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.mint-new-item-collection svg.icon-1 {
  width: 22px;
}
.create-mint-container input:focus,
.create-mint-container textarea:focus,
.create-mint-container select:focus {
  outline: none;
}
@media only screen and (min-width: 992px) and (max-width: 1250px) {
  .mint-container .grid-4 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
/* ========================================= Mint Page End ======================================== */

/* ========================================== Coupon page Start ===================================  */
.promocode-card {
  box-shadow: 0px 0px 30px #ddd;
  border-radius: 15px;
  margin: 50px auto;
  background-color: #fff;
}
.promocode-background {
  background-color: rgba(0, 236, 174, 0.12);
  text-align: center;
  padding: 50px 0px;
  border-top-right-radius: 17px;
  border-top-left-radius: 17px;
}
.promocode-background img {
  height: 200px;
  width: auto;
}
.promocode-bottom {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}
.promocode-inside {
  width: 50%;
  padding: 0px 15px;
}
.promocode-bottom button {
  background-image: linear-gradient(to right, #55b6ff, #797eff);
  border: none;
  color: #fff;
  padding: 12px 40px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}
.promocode-inside p {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}
.promocode-inside input[type='text'],
.promocode-inside input[type='date'],
.promocode-inside input[type='file'] {
  padding: 8px 20px;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 0.5px solid #ebebeb;
}
.promocode-inside textarea {
  padding: 8px 20px;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 0.5px solid #ebebeb;
}
.promocode-inside textarea:focus,
.promocode-inside input[type='date']:focus,
.promocode-inside input[type='text']:focus {
  outline: none;
}
input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffffff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid rgb(184, 184, 184);
}
input[type='radio']:checked:after {
  background: #00e2b3;
  box-shadow: 0px 0px 0.2rem #00e2b5c7;
  border: 2px solid rgb(255, 255, 255);
}
input[type='checkbox']:checked {
  background: #00e2b3;
  border-color: #00e2b3;
}
input[type='checkbox']:focus {
  border-color: #00e2b3;
}
input[type='radio']:focus {
  border-color: #00e2b3;
}
input[type='radio']:checked {
  border-color: #00e2b3;
}
.coupon-top-panel {
  display: flex;
  align-items: center;
  justify-content: end;
}
.coupon-top-panel input {
  background-color: #f1f8ff;
  height: 45px;
  width: calc(100% / 2.5);
  border-radius: 10px;
  padding-left: 20px;
  border: 0;
  font-size: 16px;
}
.coupon-top-panel input:focus {
  outline: none;
}
.coupon-date {
  width: 10%;
}
.coupon-name {
  width: 20%;
}
.coupon-orderNo {
  width: 10%;
}
.coupon-address {
  width: 25%;
}
.coupon-url {
  width: 25%;
}
.coupon-total {
  width: 10%;
}
@media only screen and (min-width: 1220px) and (max-width: 1450px) {
}
/* ============================== Coupon Page End ============================ */

/* ============================= Contact Page Start ========================= */

.contact-container-out {
  height: 100vh;
  display: flex;
  align-items: center;
}
.contact-container {
  background-color: #fff;
  padding: 25px 120px;
  border-radius: 15px;
}
.contact-container h1 {
  text-align: center;
}
.contact-container p {
  text-align: center;
}
.contact-form-out {
  display: flex;
  align-items: center;
}
.contact-form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.contact-form input {
  width: 100%;
  border-radius: 20px;
  padding: 12px;
  border: 1px solid #ddd;
}
.contact-form textarea {
  width: 100%;
  border-radius: 20px;
  padding: 12px;
  border: 1px solid #ddd;
}
.contact-form button {
  width: 100%;
  border-radius: 20px;
  padding: 12px;
  background-color: #000;
  color: #fff;
  font-weight: 600;
  box-shadow: 0px 20px 20px #00000034;
  border: 1px solid #ddd;
}
.contact-form input:focus,
.contact-form textarea:focus,
.contact-form button:focus {
  outline: none;
}
.contact-image {
  display: flex;
  align-items: center;
}
.contact-image img {
  height: 100%;
  width: auto;
}

@media only screen and (min-width: 1220px) and (max-width: 1450px) {
}
/* ============================= Contact Page End =========================== */

/* ============================= About Page Start =========================== */

.about-page-container {
  margin: 50px 0px;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
}
.about-page-container h1 {
  text-align: center;
  margin: 0px;
  font-weight: 600;
}
.about-page-container p {
  text-align: center;
  margin: 10px 0px;
}
.about-image-container {
  text-align: center;
  padding: 15px;
}
.about-image-container h3 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 0px;
}

@media only screen and (min-width: 1220px) and (max-width: 1450px) {
}
/* ============================= About Page End ============================= */

/* ============================= Invoice Page Start ========================= */

.invoice-top-panel {
  display: flex;
  align-items: center;
  justify-content: end;
}
.invoice-top-panel input {
  background-color: #f1f8ff;
  height: 45px;
  width: calc(100% / 2.5);
  border-radius: 10px;
  padding-left: 20px;
  border: 0;
  font-size: 16px;
}
.invoice-top-panel input:focus {
  outline: none;
}
.invoice-date {
  width: 10%;
}
.invoice-name {
  width: 20%;
}
.invoice-orderNo {
  width: 10%;
}
.invoice-address {
  width: 25%;
}
.invoice-url {
  width: 25%;
}
.invoice-total {
  width: 10%;
}

@media only screen and (min-width: 992px) and (max-width: 1250px) {
  .option-container .option p {
    font-size: 13px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .profile-container {
    margin: 90px auto 50px;
  }
}
@media only screen and (min-width: 551px) and (max-width: 767px) {
  .profile-container {
    margin: 90px auto 50px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 550px) {
  .profile-container {
    margin: 90px auto 50px;
    padding: 15px;
  }
  .invoice-top-panel {
    justify-content: center;
  }
}
@media only screen and (min-width: 350px) and (max-width: 450px) {
  .profile-container {
    margin: 90px auto 50px;
    padding: 15px;
  }
  .invoice-top-panel {
    justify-content: center;
  }
}
/* ============================= Invoice Page End ========================= */

/* ============================= Order Page Start ========================= */

.order-top-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order-top-panel input {
  background-color: #f1f8ff;
  height: 45px;
  width: calc(100% / 2.5);
  border-radius: 10px;
  padding-left: 20px;
  border: 0;
  font-size: 16px;
}
.order-top-panel input:focus {
  outline: none;
}

.order-orderNo {
  width: 10%;
}
.order-name {
  width: 20%;
}
.order-product {
  width: 25%;
}
.order-price {
  width: 10%;
}
.order-date {
  width: 20%;
}
.order-status {
  width: 15%;
}
.order-status span {
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
}

@media only screen and (min-width: 1220px) and (max-width: 1450px) {
}
/* ============================= Order Page End ========================= */

/* ============================= Profile Page Start ==================== */

.profile-container {
  background-color: #fff;
  margin: 50px auto;
  border-radius: 15px;
  padding: 25px;
}
.profile-container .row .col-6,
.profile-container .row .col-12 {
  padding: 10px;
}
.option-container {
  display: flex;
  gap: 10px;
}
.option-container .option {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  background-color: #f2f2f2;
  width: -webkit-fill-available;
  padding: 5px;
  border-radius: 5px;
}
.option-container .option p {
  margin: 0px;
}
.profile-container h4 {
  margin: 10px 0px 5px;
  font-weight: 500;
}
.profile-container input[type='text'] {
  width: 100%;
  border: none;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}
.profile-container input[type='text']:focus {
  outline: none;
}
.profile-container-fill {
  width: 100%;
  border: none;
  background-color: #f2f2f2;
  padding: 7px 10px;
  border-radius: 5px;
}
.provile-header-container {
  height: 100px;
  background-color: #f2f2f2;
  border-radius: 15px;
}
.profile-container-bottom {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.option.active {
  background-color: #c2ccff;
}

@media only screen and (min-width: 992px) and (max-width: 1250px) {
  .option-container .option p {
    font-size: 13px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .profile-container {
    margin: 90px auto 50px;
  }
  .profile-container .col-6 {
    width: 100%;
    padding: 0px !important;
  }
  .profile-container .col-12 {
    padding: 0px !important;
    margin-top: 25px;
  }
}
@media only screen and (min-width: 551px) and (max-width: 767px) {
  .profile-container {
    margin: 90px auto 50px;
  }
  .profile-container .col-6 {
    width: 100%;
    padding: 0px !important;
  }
  .profile-container .col-12 {
    padding: 0px !important;
    margin-top: 25px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 550px) {
  .profile-container {
    margin: 90px auto 50px;
    padding: 15px;
  }
  .profile-container .col-6 {
    width: 100%;
    padding: 0px !important;
  }
  .profile-container .col-12 {
    padding: 0px !important;
    margin-top: 25px;
  }
  .option-container .option p {
    font-size: 15px;
  }
}
@media only screen and (min-width: 350px) and (max-width: 450px) {
  .profile-container {
    margin: 90px auto 50px;
    padding: 15px;
  }
  .profile-container .col-6 {
    width: 100%;
    padding: 0px !important;
  }
  .profile-container .col-12 {
    padding: 0px !important;
    margin-top: 25px;
  }
  .option-container .option p {
    font-size: 10px;
  }
  .option-container .option {
    gap: 5px;
  }
  .profile-container h4 {
    font-size: 12px;
  }
}

/* ============================= Profile Page End ==================== */

/* ============================= Switch Start ======================== */

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  cursor: pointer;
  top: 0;
  right: 0;
  background-color: #ebebeb;
}
.switch .slider,
.switch .slider:before {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch .slider:before {
  content: '';
  height: 20px;
  width: 20px;
  background-color: #000;
}
.switch input:checked + .slider {
  background-color: #c2ccffc9;
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px #c2ccffc9;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.switch .slider.round {
  border-radius: 20px;
}
.switch .slider.round:before {
  border-radius: 50%;
}

/* ============================= Switch End ======================== */
