.nav-panel-scroll-bar {
  width: 100%;
  position: fixed;
}
#logo-swop:focus {
  outline: none;
}
a#logo-swop img {
  height: 30px;
  width: auto;
}
.nav-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.4s ease-out;
  padding: 10px 0px 5px;
}
.nav-panel-scroll {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: #060606b3 !important;
  z-index: 1;
}
.navM-panel-scroll {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: #ffffff79 !important;
  z-index: 1;
}
.nav-panel ul {
  display: flex;
  align-items: center;
  gap: 25px;
}
.nav-panel ul li {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav-panel ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  line-height: 25px;
  display: flex;
  cursor: pointer;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .nav-panel {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding: 20px 0px 15px;
  }
  .nav-panel ul {
    padding: 0;
    width: 100%;
    display: grid;
    gap: 10px;
  }
}
@media only screen and (min-width: 551px) and (max-width: 767px) {
  a#logo-swop {
    display: flex;
  }
  .nav-panel {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding: 18px 0px;
  }
  .nav-panel ul {
    padding: 0;
    width: 100%;
    display: grid;
    gap: 10px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 550px) {
  a#logo-swop {
    display: flex;
  }
  .nav-panel {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding: 18px 0px;
  }
  .nav-panel ul {
    padding: 0;
    width: 100%;
    display: grid;
    gap: 10px;
  }
  a#logo-swop img {
    height: 25px;
    width: auto;
  }
}
@media only screen and (min-width: 350px) and (max-width: 450px) {
  a#logo-swop {
    display: flex;
  }
  .nav-panel {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding: 18px 0px;
  }
  .nav-panel ul {
    padding: 0;
    width: 100%;
    display: grid;
    gap: 10px;
  }
  a#logo-swop img {
    height: 25px;
    width: auto;
  }
}
