.side-bar {
  background-color: #f2f2f2;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 100vh;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  overflow: auto;
}
.side-bar-top {
  padding-top: 25px;
  width: 100%;
}
.swop-logo {
  padding-left: 65px;
}
#active-menu a {
  background-color: #000;
  color: #fff;
  box-shadow: 0px 0px 31px rgb(0 0 0 / 12%);
}
.side-bar ul {
  padding: 0px;
}
.side-bar ul li {
  list-style-type: none;
  padding: 1px 40px;
}
.side-bar ul li a {
  color: #aeaeae;
  font-size: 15px;
  font-weight: 300;
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 25px;
  transition: 1s ease;
}
.side-bar ul li a:hover {
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 31px rgb(0 0 0 / 12%);
}
.footer-side-bar-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.footer-side-bar {
  text-align: -webkit-center;
  width: 100%;
  place-self: end;
  margin-bottom: 20px;
}
.footer-qrcode {
  background-color: #fff;
  border-radius: 10px;
  height: 80px;
  width: auto;
  box-shadow: 0px 0px 31px rgb(0 0 0 / 12%);
}
.travis {
  border-radius: 50%;
  border: 3px solid #c2c2c2;
  box-shadow: 0px 0px 31px rgb(0 0 0 / 12%);
  height: 50px;
  width: auto;
}
.footer-side-bar-travis label {
  font-size: 12px;
}
.footer-side-bar-travis h4 {
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
}
.dapp-three-line {
  display: none;
  z-index: 1;
}
#dashboard-logo-size {
  height: 25px;
  width: auto;
}

@media only screen and (min-width: 360px) and (max-width: 424px) {
  .dapp-cross,
  .dapp-three-line {
    display: block;
    height: auto;
    width: 25px;
    position: relative;
    left: 14px;
  }
}
